*.tmp
vivado/**/*
pnr/**/*
download/**/*

validation/java/bin/**/*
validation/mti/work/**/*
validation/mti/hallux.dep
validation/mti/hallux.lib/
validation/mti/hallux.snap
validation/mti/hallux.source/
validation/mti/halluxModelsim.cr.mti
validation/mti/modelsim/README.txt
validation/mti/modelsim/compile.do
validation/mti/modelsim/file_info.txt
validation/mti/modelsim/glbl.v
validation/mti/modelsim/hallux_top.sh
validation/mti/modelsim/hallux_top.udo
validation/mti/modelsim/modelsim.ini
validation/mti/modelsim/simulate.do
validation/mti/modelsim/wave.do
validation/mti/README.txt
workspace/**/*
