wlf*
XGS_athena.cr.mti
XGS_athena.lib/
XGS_athena.mpf
vish_stacktrace.vstf
vsim.wlf
wave.do
*.log
*.wlf
Cscoreboard.dump
dgb_x_trim_strm_in.strm
dgb_x_trim_strm_out.strm
dgb_y_trim_strm_in
dgb_y_trim_strm_in.strm
dgb_x_trim_pack422.strm
